<!doctype html>
<html lang="pt-BR">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="voe,empresa de RH,treinamento">

	<meta name="author" content="https://instagram.com/joubertgruna">

	<title>VOE</title>
	<link rel="manifest" href="../webSite/manifest.json">

	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('../webSite/service-worker.js')
				.then(registration => {
					console.log('Service Worker registered with scope:', registration.scope);
				})
				.catch(error => {
					console.error('Service Worker registration failed:', error);
				});
		}
	</script>

	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="../webSite/plugins/bootstrap/css/bootstrap.min.css">
	<!-- Icon Font Css -->
	<link rel="stylesheet" href="../webSite/plugins/themify/css/themify-icons.css">
	<link rel="stylesheet" href="../webSite/plugins/fontawesome/css/all.css">
	<link rel="stylesheet" href="../webSite/plugins/magnific-popup/dist/magnific-popup.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="../webSite/plugins/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="../webSite/plugins/slick-carousel/slick/slick-theme.css">

	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="../webSite/css/style.css">



</head>

<body>

	<!-- Header Start -->

	<%- include('./partials/header')%>

		<!-- Header Close -->

		<div class="main-wrapper ">
			<!-- Slider Start -->
			<section class="slider">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-10">
							<div class="block text-center">
								<span style="padding-top: 17px;" class="d-block mb-3 text-color text-capitalize">Com a
									VOE prepare-se para um novo
									futuro</span>
								<h1 class="animated fadeInUp mb-5">Consultoria em gestão de pessoas</h1>
								<a href="/sobre" target="_blank"
									class="btn btn-main animated fadeInUp btn-round-full">Saiba
									mais<i class="btn-icon fa fa-angle-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Section Intro Start -->
			<section class="section intro">
				<div class="container">
					<div class="row ">
						<div class="col-lg-10">
							<div class="section-title">
								<h2 class="mt-1 content-title">Se você está aqui, é porque está em busca de
									desenvolvimento para você ou sua empresa e nós podemos te ajudar!</h2>

							</div>
						</div>
					</div>
					<span class="h3 text-color">Nossos valores</span>
					<div class="row justify-content-center pt-4">

						<div class="col-lg-4 col-md-6 col-12">
							<div class="intro-item mb-5 mb-lg-0">
								<i class="ti-reload color-one"></i>
								<h4 class="mt-4 mb-3">Aprendizado continuo</h4>
								<p>Nós acreditamos no desenvolvimento de pessoas e pra isso,
									buscamos sempre aprimorar os nossos conhecimentos e aprender a cada dia através de
									novas experiências. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="intro-item mb-5 mb-lg-0">
								<i class="ti-light-bulb color-one"></i>
								<h4 class="mt-4 mb-3">Inovação</h4>
								<p> Gostamos de pensar e fazer diferente!
									Apostamos em metodologias disruptivas para impulsionar a aprendizagem. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="intro-item">
								<i class="ti-user color-one"></i>
								<h4 class="mt-4 mb-3">Empatia</h4>
								<p> Nos colocamos no lugar do outro para compreender o seu processo.
									Nos colocamos a disposição para ajudar e desenvolver o potencial humano.</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 mt-4">
							<div class="intro-item">
								<i class="ti-target color-one"></i>
								<h4 class="mt-4 mb-3">Nosso Propósito</h4>
								<p> <strong>Nos unimos por um propósito em comum:</strong></span> afetar
									positivamente a vida das <span class="text-color">PESSOAS!</span><br>
									Nossa missão é atuar no mercado de consultoria em Gestão de Pessoas de forma
									inovadora no desenvolvimento talentos.<br>Acreditamos no aprendizado contínuo e em
									práticas humanizadas.</h4>
								</p>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- Section Intro END -->

			<!-- Section About Start -->
			<section class="section about position-relative" id="bkg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 col-sm-12 pb-4 position-relative">
							<img src="../webSite/images/bg/home-8.jpeg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-lg-5 mb-3">
							<span class="h3 mt-2"><strong>Quem somos</strong></span>
							<h2 class="mt-2 mb-2 position-relative content-title">A solução perfeita</h2>
							<div class="about-content">
								<h4 class="mb-3 position-relative">Oferecemos soluções dinâmicas e precisas para o
									seu negócio</h4>
								<p class="mb-5 mt-3"><strong>Nós fornecemos serviços de consultoria na área de RH e
										recrutamento, ajudando as empresas a alcançar seu mais alto nível.
										Nós otimizamos os processos de negócios, tornando-os mais fáceis.</strong>
								</p>
								<a href="/sobre" class="btn btn-dark btn-main btn-round-full mt-2">Saiba Mais</a>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class=""></div>
				<div class="container">
					
				</div> -->
			</section>
			<!-- Section About End -->

			<!-- section Counter Start -->
			<section sty class="section counter">
				<div class="container">

					<div class="row ">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center mb-5 mb-lg-0">
								<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">173</span> +
								</h3>
								<p class="text-muted">Projetos realizados</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center mb-5 mb-lg-0">
								<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">125 </span>+
								</h3>
								<p class="text-muted">Recrutamentos </p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center mb-5 mb-lg-0">
								<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">390</span>+</h3>
								<p class="text-muted">Avaliações</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center">
								<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">98</span>%</h3>
								<p class="text-muted">De fidelizção</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section Counter End  -->

			<!--  Section Services Start -->
			<section class="section service border-top">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 text-center">
							<div class="section-title">
								<span class="h2">Nossos Serviços</span>
								<!-- <h2 class="mt-3 content-title ">
								</h2> -->
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="service-item mb-5">
								<i class="ti-magnet"></i>
								<h4 class="mb-3">Atração e Seleção</h4>
								<p>Em parceria com a RHF Talentos, empresa há mais de 20 anos de mercado.
									Selecionamos certo para que o seu RH tenha tempo de atuar em outras demandas.</p>
								<a href="/srv-atracao" class="btn btn-small btn-dark btn-main btn-round-full mt-2">Saiba
									Mais</a>
							</div>
						</div>

						<!-- <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="service-item mb-5">
								<i class="ti-layers"></i>
								<h4 class="mb-3">Gestão de Estagiários</h4>
								<p>Nossa missão é encontrar os melhores talentos no mercado, para auxiliar e contribuir
									para o crescimento de sua empresa.
									Realizamos toda a gestão dos contratos e convênios com as instituições parceiras.
								</p>
								<a href="/srv-gestao" class="btn btn-small btn-dark btn-main btn-round-full mt-2">Saiba
									Mais</a>
							</div>
						</div> -->

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="service-item mb-5">
								<i class="ti-bar-chart"></i>
								<h4 class="mb-3">Treinamento e Desenvolvimento</h4>
								<p>Buscamos através de metodologias disruptivas desenvolver equipes para alta
									performance,
									construir maior conexão entre os times, trocar experiências para alcançar melhores
									resultados.</p>
								<a href="/srv-treinamento"
									class="btn btn-small btn-dark btn-main btn-round-full mt-2">Saiba
									Mais</a>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="service-item mb-5 mb-lg-0">
								<i class="ti-face-smile"></i>
								<h4 class="mb-3">Diagnóstico de Clima</h4>
								<p>Quantificamos os níveis de satisfação dos colaboradores de sua empresa, mediante
									práticas humanizadas.
									O diagnóstico visa analisar os resultados obtidos na pesquisa de clima e sugerir
									ações de bem-estar para os empregados. </p>
								<a href="/srv-diagnostico"
									class="btn btn-small btn-dark btn-main btn-round-full mt-2">Saiba
									Mais</a>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!--  Section Services End -->

			<!-- Section Cta Start -->
			<section class="section cta">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="cta-item  bg-white p-5 rounded">
								<span class="h6 text-color">Nós executamos pra você</span>
								<h2 class="mt-2 mb-4">Confie seu processo de seleção a nossa melhor equipe de
									profissionais.</h2>
								<p class="lead mb-4">Tem algum projeto em mente?<br> Para suporte imediato:</p>
								<a href="https://wa.me/5531989423524" target="_blank"
									class="btn btn-main animated fadeInUp btn-round-full">Entre
									em contato<i class="btn-icon fa fa-angle-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--  Section Cta End-->

			<!-- Section Testimonial Start -->
			<section class="section testimonial">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 ">
							<div class="section-title">
								<span class="h6 text-color">Depoimentos</span>
								<h2 class="mt-3 content-title">Veja o que os clientes dizem sobre nós</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row testimonial-wrap">
						<div class="testimonial-item position-relative">
							<i class="ti-quote-left text-color"></i>

							<div class="testimonial-item-content">
								<p class="testimonial-text">O trabalho de Recrutamento e Seleção com a VOE consultoria
									nos proporcionou uma ótima percepção de pessoas, profissionais com olhar crítico
									para além do que é expressado no currículo. Entrevistas bem elaboradas e
									personalizadas. Equipe honesta com prazos e coma proposta da empresa. </p>
								<div class="testimonial-author">
									<h5 class="mb-0 text-capitalize">Clínica MAB</h5>
									<!-- <p>Excutive Director,themefisher</p> -->
								</div>
							</div>
						</div>
						<div class="testimonial-item position-relative">
							<i class="ti-quote-left text-color"></i>

							<div class="testimonial-item-content">
								<p class="testimonial-text">Treinamento e Desenvolvimento com a VOE Consultoria: Equipe
									com profissionais capacitadas e atenciosas. Uso de termos d linguagem de fácil
									compreensão de todos. Analistas sempre dispostas a ouvir, minha equipe de
									colaboradores gostou muito do treinamento disponibilizado pela VOE Consultoria.</p>

								<div class="testimonial-author">
									<h5 class="mb-0 text-capitalize">C&C Clínica de Diagnóstico por Imagem</h5>
									<!-- <p>Excutive Director,themefisher</p> -->
								</div>
							</div>
						</div>
						<div class="testimonial-item position-relative">
							<i class="ti-quote-left text-color"></i>

							<div class="testimonial-item-content">
								<p class="testimonial-text">Palestras e Recrutamento e Seleção: O contato com a VOE
									Consultoria é objetivo e ágil. Consideramos a atenção e alegria de todas as
									profissionais como um grande diferencial. As palestras são sempre muito bem
									conduzidas.</p>

								<div class="testimonial-author">
									<h5 class="mb-0 text-capitalize">Cimento Tupi</h5>
									<!-- <p>Excutive Director,themefisher</p> -->
								</div>
							</div>
						</div>
						<!-- <div class="testimonial-item position-relative">
							<i class="ti-quote-left text-color"></i>

							<div class="testimonial-item-content">
								<p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis
									temporibus odio reiciendis error alias debitis atque consequuntur natus iusto
									recusandae .</p>

								<div class="testimonial-author">
									<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
									<p>Excutive Director,themefisher</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</section>
			<!-- Section Testimonial End -->

			<section class="section latest-blog bg-2">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 text-center">
							<div class="section-title">
								<span class="h6 text-color">Ultimas noticias</span>
								<h2 class="mt-3 content-title text-white">Últimos artigos para enriquecer o conhecimento
								</h2>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<% postagens.forEach((postagens)=>{ %>
							<div class="col-lg-4 col-md-6 mb-5">
								<div class="card bg-transparent border-0">
									<img src="../webSite/images/blog/1.jpg" alt="" class="img-fluid rounded">
									<div class="card-body mt-2">
										<div class="blog-item-meta">
											<a href="#" class="text-white-50">
												<%=postagens.categoria%><span class="ml-2 mr-2">/</span>
											</a>
											<!-- <a href="#" class="text-white-50">Ui/Ux<span class="ml-2">/</span></a> -->
											<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>
												<%=postagens.autor%>
											</a>
										</div>
										<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white ">
												<%=postagens.titulo%>
											</a></h3>
										<a href="/blog-single/<%=postagens.id%>"
											class="btn btn-small btn-solid-border btn-round-full text-white">Saiba
											mais</a>
									</div>
								</div>
							</div>
							<% }); %>
								<!-- <div class="col-lg-4 col-md-6 mb-5">
							<div class="card border-0 bg-transparent">
								<img src="../webSite/images/blog/2.jpg" alt="" class="img-fluid rounded">

								<div class="card-body mt-2">
									<div class="blog-item-meta">
										<a href="#" class="text-white-50">Piscologia<span class="ml-2 mr-2">/</span></a>
										<!-- <a href="#" class="text-white-50">Ui/Ux<span class="ml-2">/</span></a> 
										<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
									</div>

									<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Comportamento no
											trabalho</a></h3>

									<a href="blog-single.html"
										class="btn btn-small btn-solid-border btn-round-full text-white">Saiba mais</a>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 mb-5">
							<div class="card border-0 bg-transparent">
								<img src="../webSite/images/blog/3.jpg" alt="" class="img-fluid rounded">

								<div class="card-body mt-2">
									<div class="blog-item-meta">
										<a href="#" class="text-white-50">Recrutamento<span
												class="ml-2 mr-2">/</span></a>
										<!-- <a href="#" class="text-white-50">Ui/Ux<span class="ml-2">/</span></a> --
										<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
									</div>

									<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Contratação efetiva</a>
									</h3>

									<a href="blog-single.html"
										class="btn btn-small btn-solid-border btn-round-full text-white">Saiba mais</a>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</section>

			<section class="mt-70 position-relative">
				<div class="container">
					<div class="cta-block-2 bg-gray p-5 rounded border-1">
						<div class="row justify-content-center align-items-center ">
							<div class="col-lg-7">
								<span class="text-color">Para Todo tipo de negócio</span>
								<h2 class="mt-2 mb-4 mb-lg-0">Confie Seu Projeto à Nossa Melhor Equipe de Profissionais
								</h2>
							</div>
							<div class="col-lg-4">
								<a href="https://wa.me/5531989423524"
									class="btn btn-main btn-round-full float-lg-right ">Fale com a
									gente</a>
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- footer Start -->
			<%- include('./partials/footer')%>

		</div>

		<!-- 
    Essential Scripts
    =====================================-->

		<%- include('./partials/scripts')%>


</body>

</html>