<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>VOE - Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <!-- Datatable -->
    <link href="../dashBoard/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="../dashBoard/css/style.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/nav-header') %>
            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header') %>
                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar') %>
                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row page-titles mx-0">
                                <div class="col-sm-6 p-md-0">
                                    <div class="welcome-text">
                                        <h4>Olá, {nome} </h4>
                                        <p class="mb-0"></p>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">DashBoard</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Avaliações</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Avaliações registradas</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="example" class="display text-center"
                                                    style="min-width: 845px">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Vaga</th>
                                                            <th>Nome da Avaliação</th>
                                                            <th>Perguntas</th>
                                                            <th>Data Criação</th>
                                                            <!-- <th>Nota Geral</th> -->
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody style="color: black;">
                                                        <% exercicio.forEach((exercicio)=>{ %>
                                                            <tr>
                                                                <td><%= exercicio.id %></td>
                                                                <td><%= exercicio.vaga_name %></td>
                                                                <td><%= exercicio.test_name %></td>
                                                                <td><%= exercicio.text %></td>
                                                                <td><%= exercicio.created_at %></td>
                                                                <!-- <td><%= exercicio.nota_geral %></td> -->
                                                                <td>
                                                                  <a href="/admin/avaliacao-editar/<%= exercicio.id %>" class="btn btn-sm "><i
                                                                    class="fa fa-pencil color-muted"></i></a>
                                                                  <a href="/admin/avaliacao-delete/<%= exercicio.id %>" class="btn btn-sm c"><i
                                                                    class="fa fa-close color-danger"></i></a>
                                                                </td>
                                                              </tr>
                                                            <% }) %>
                                                    </tbody>

                                                    <tfoot>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Vaga</th>
                                                            <th>Nome da Avaliação</th>
                                                            <th>Perguntas</th>
                                                            <th>Data Criação</th>
                                                            <!-- <th>Nota Geral</th> -->
                                                            <th>Ações</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Card Title</h4>
                            </div>
                            <div class="card-body">
                                Card Body
                            </div>
                            <div class="card-footer">
                                Card footer
                            </div>
                        </div>
                    </div> -->
                            </div>
                        </div>
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->


                    <!--**********************************
            Footer start
        ***********************************-->
                    <div class="footer">
                        <div class="copyright">
                            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">TecHub</a> 2024</p>
                        </div>
                    </div>
                    <!--**********************************
            Footer end
        ***********************************-->

                    <!--**********************************
           Support ticket button start
        ***********************************-->

                    <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->


    <script src="../dashBoard/vendor/highlightjs/highlight.pack.min.js"></script>
    <!-- Circle progress -->

    <!-- Required vendors -->
    <script src="../dashBoard/vendor/global/global.min.js"></script>
    <script src="../dashBoard/js/quixnav-init.js"></script>
    <script src="../dashBoard/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="../dashBoard/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../dashBoard/js/plugins-init/datatables.init.js"></script>
</body>

</html>