<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Responder Avaliação</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../dashBoard/images/favicon.png">
  <link href="../../dashBoard/css/style.css" rel="stylesheet">
</head>

<body>
  <div id="main-wrapper">
    
    <div class="content-body">
      <div class="container">
        <div class="row page-titles mx-0">
          <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
              <h4>Responder Avaliação</h4>
              <p style="color: black;" class="mb-0">Responda as perguntas abaixo</p>
            </div>
          </div>
          <!-- <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">DashBoard</a></li>
              <li class="breadcrumb-item active"><a href="javascript:void(0)">Responder Avaliação</a></li>
            </ol>
          </div> -->
        </div>
        <div class="row">
          <div class="col-lg-9 justify-content-center">
            <div class="card">
              <!-- <div class="card-header">
                <h4 class="card-title">Responder Avaliação</h4>
              </div> -->
              <div class="card-body">
                <div class="basic-form">
                  <form style="color: black;" id="responderForm" action="/admin/avaliacao-responder/<%= perguntas[0].test_id %>" method="POST">
                    <input type="hidden" name="candidato_id" value="<%= candidato_id %>">
                    <div id="questionsContainer">
                      <% perguntas.forEach(function(pergunta, index) { %>
                        <% if (pergunta.type === 'open') { %>
                          <div class="form-group">
                            <label>Pergunta <%= index + 1 %>:</label>
                            <p><%= pergunta.text %></p>
                            <textarea name="respostas[<%= index %>][texto]" class="form-control" required></textarea>
                            <input type="hidden" name="respostas[<%= index %>][tipo]" value="open">
                          </div>
                          
                        <% } else if (pergunta.type === 'multiple_choice') { %>
                          <div class="form-group">
                            <label>Pergunta <%= index + 1 %>:</label>
                            <p><%= pergunta.text %></p>
                            <% JSON.parse(pergunta.options).forEach(function(option, optionIndex) { %>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="respostas[<%= index %>][opcoes][]" value="<%= option %>">
                                <label class="form-check-label"><%= option %></label>
                              </div>
                            <% }); %>
                            <input type="hidden" name="respostas[<%= index %>][tipo]" value="multiple_choice">
                          </div>
                          <hr>
                        <% } %>
                      <% }); %>
                    </div>
                    <button type="submit" class="btn btn-success">Enviar Respostas</button>
                    <a href="/admin/avaliacoes-todas" class="btn btn-secondary">Cancelar</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="footer">
      <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
      </div>
    </div> -->
  </div>
  <script src="../../dashBoard/vendor/global/global.min.js"></script>
  <script src="../../dashBoard/js/quixnav-init.js"></script>
  <script src="../../dashBoard/js/custom.min.js"></script>
  <script src="../../dashBoard/vendor/highlightjs/highlight.pack.min.js"></script>
</body>

</html>
