<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>VOE - Listagem de Talentos </title>
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <!-- Datatable -->
    <link href="../dashBoard/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

    <link href="../dashBoard/css/style.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/nav-header') %>
            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header') %>
                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar') %>
                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row page-titles mx-0">
                                <div class="col-sm-6 p-md-0">
                                    <div class="welcome-text">
                                        <h4>Bem vindo(a) ao painel</h4>
                                        <p class="mb-0"></p>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">DashBoard</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Talentos</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Lista de candidatos</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="example" class="display" style="min-width: 845px">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Vaga Aplicada</th>
                                                            <th>Nome</th>
                                                            <th>E-mail</th>
                                                            <th>Idade</th>
                                                            <th>Genero</th>
                                                            <th>Cidade</th>
                                                            <th>Estado</th>
                                                            <th>Triagem</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color: black;">
                                                        <% candidato.forEach((candidato)=>{ %>
                                                            <tr>
                                                                <td><%=candidato.id%></td>
                                                                <td><%=candidato.vaga_aplicada%></td>
                                                                <td><%=candidato.nome%></td>
                                                                <td><%=candidato.email%></td>
                                                                <td><%=candidato.idade%></td>
                                                                <td><%=candidato.genero%></td>
                                                                <td><%=candidato.cidade%></td>                                                                
                                                                <td><%=candidato.estado%></td>
                                                                <td><%=candidato.triagem%></td>
                                                                <td>
                                                                    <div class="row text-center">
                                                                        <div class="col-sm-3 text-center">
                                                                            <a class="btn btn-sm btn-transparent"
                                                                                type="submit"
                                                                                href="/admin/candidatos-editar/<%=candidato.id%>"
                                                                                class="" data-toggle="tooltip"
                                                                                data-placement="top" title="Edit"><i
                                                                                    class="fa fa-pencil color-muted"></i></a>

                                                                        </div>
                                                                        <div class="col-sm-3 text-center">
                                                                            <form action="/admin/candidatos-delete"
                                                                                method="POST"
                                                                                onsubmit="verifica(event, this)">
                                                                                <input type="hidden" name="id"
                                                                                    value="<%=candidato.id%>">
                                                                                <button
                                                                                    class="btn btn-sm btn-transparent"
                                                                                    type="submit">
                                                                                    <i
                                                                                        class="fa fa-close color-danger"></i>
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
																</td>
                                                            </tr>
                                                        <%})%>
                                                    </tbody>
                                                    <tfoot>
                                                        <th>ID</th>
                                                        <th>Vaga Aplicada</th>
                                                        <th>Nome</th>
                                                        <th>E-mail</th>
                                                        <th>Idade</th>
                                                        <th>Genero</th>
                                                        <th>Cidade</th>
                                                        <th>Estado</th>
                                                        <th>Triagem</th>
                                                        <th>Ações</th>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->


                    <!--**********************************
            Footer start
        ***********************************-->
                    <div class="footer">
                        <div class="copyright">
                            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">TecHub</a> 2024</p>
                        </div>
                    </div>
                    <!--**********************************
            Footer end
        ***********************************-->

                    <!--**********************************
           Support ticket button start
        ***********************************-->

                    <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../dashBoard/vendor/highlightjs/highlight.pack.min.js"></script>
    <!-- Circle progress -->

    <!-- Required vendors -->
    <script src="../dashBoard/vendor/global/global.min.js"></script>
    <script src="../dashBoard/js/quixnav-init.js"></script>
    <script src="../dashBoard/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="../dashBoard/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../dashBoard/js/plugins-init/datatables.init.js"></script>

    

