<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>VOE - Listagem de Vagas </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <!-- Datatable -->
    <link href="../dashBoard/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="../dashBoard/css/style.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/nav-header') %>
            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header') %>
                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar') %>
                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row page-titles mx-0">
                                <div class="col-sm-6 p-md-0">
                                    <div class="welcome-text">
                                        <h4>Olá, {nome} </h4>
                                        <p class="mb-0"></p>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">DashBoard</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Vagas</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">

                                        </div>
                                        <div class="card-body">
                                            <!-- Column starts -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header d-block">
                                                        <h4 class="card-title">Vagas</h4>
                                                        <p class="m-0 subtitle">Veja as vagas e seus respectivos
                                                            candidatos</p>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="accordion-six" class="accordion accordion-with-icon">
                                                            <% vagas.forEach((vaga, index)=> { %>
                                                                <div class="accordion__item">
                                                                    <div class="accordion__header collapsed"
                                                                        data-toggle="collapse"
                                                                        data-target="#with-icon_collapse<%= index %>">
                                                                        <span class="accordion__header--icon"></span>
                                                                        <span class="accordion__header--text">
                                                                            <%= vaga.cargo %> - <%= vaga.empresa %>
                                                                        </span>
                                                                        <span
                                                                            class="accordion__header--indicator indicator_bordered"></span>
                                                                    </div>
                                                                    <div id="with-icon_collapse<%= index %>"
                                                                        class="collapse accordion__body"
                                                                        data-parent="#accordion-six">
                                                                        <div class="accordion__body--text">
                                                                            <% if (vaga.candidatos.length===0) { %>
                                                                                <p>Sem candidatos até o momento</p>
                                                                                <% } else { %>
                                                                                    <table class="table table-striped">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>ID</th>
                                                                                                <th>Nome</th>
                                                                                                <th>Email</th>
                                                                                                <th>Ação</th>
                                                                                                <!-- Novo cabeçalho para as ações -->
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody style="color: black;">
                                                                                            <%
                                                                                                vaga.candidatos.forEach(candidato=>
                                                                                                { %>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= candidato.id
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= candidato.nome
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= candidato.email
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <p>Path: <%=
                                                                                                            candidato.caminho_arquivo
                                                                                                            %>
                                                                                                    </p>

                                                                                                    <td>
                                                                                                        <!-- Link para o perfil do candidato -->
                                                                                                        <a href="/admin/candidatos-editar/<%= candidato.id %>"
                                                                                                            class="btn btn-primary btn-sm">Perfil</a>
                                                                                                        <!-- Botão para visualizar o currículo -->
                                                                                                        <!-- Atualização no código EJS -->
                                                                                                        <!-- Adicione um botão para visualizar o currículo -->
                                                                                                        <button
                                                                                                            class="btn btn-secondary btn-sm"
                                                                                                            onclick="visualizarCurriculo('<%= candidato.file %>')">Currículo</button>

                                                                                                    </td>
                                                                                                </tr>
                                                                                                <% }) %>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <% } %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Column ends -->
                                            <!-- Modal para visualizar o currículo -->
                                            <div class="modal fade" id="curriculoModal" tabindex="-1" role="dialog"
                                                aria-labelledby="curriculoModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="curriculoModalLabel">Visualizar
                                                                Currículo</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Iframe para exibir o documento -->
                                                            <iframe id="curriculoFrame" src=""
                                                                style="width:100%; height:500px;"
                                                                frameborder="0"></iframe>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Fechar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <!-- <div class="table-responsive">
                                                <table id="example" class="display text-center"
                                                    style="min-width: 845px">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Titulo</th>
                                                            <th>Status</th>
                                                            <th>Breve descrição</th>
                                                            <th>Empresa</th>
                                                            <th>Salario</th>
                                                            <th>Data</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody style="color: black;">
                                                        <% vagas.forEach(vaga=> { %>
                                                            <div class="vaga">
                                                                <h2>
                                                                    <%= vaga.cargo %>
                                                                </h2>
                                                                <p>
                                                                    <%= vaga.empresa %>
                                                                </p>
                                                                <h3>Candidatos:</h3>
                                                                <ul>
                                                                    <% vaga.candidatos.forEach(candidato=> { %>
                                                                        <li>
                                                                            <%= candidato.nome %> - <%= candidato.email
                                                                                    %>
                                                                        </li>
                                                                        <% }) %>
                                                                            <% if (vaga.candidatos.length===0) { %>
                                                                                <li>Sem candidatos até o momento</li>
                                                                                <% } %>
                                                                </ul>
                                                            </div>
                                                            <% }) %>


                                                    </tbody>

                                                    <tfoot>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Titulo</th>
                                                            <th>Status</th>
                                                            <th>Breve descrição</th>
                                                            <th>Empresa</th>
                                                            <th>Salario</th>
                                                            <th>Data</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Card Title</h4>
                            </div>
                            <div class="card-body">
                                Card Body
                            </div>
                            <div class="card-footer">
                                Card footer
                            </div>
                        </div>
                    </div> -->
                            </div>
                        </div>
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->


                    <!--**********************************
            Footer start
        ***********************************-->
                    <div class="footer">
                        <div class="copyright">
                            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">TecHub</a> 2024</p>
                        </div>
                    </div>
                    <!--**********************************
            Footer end
        ***********************************-->

                    <!--**********************************
           Support ticket button start
        ***********************************-->

                    <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->


    <script src="../dashBoard/vendor/highlightjs/highlight.pack.min.js"></script>
    <!-- Circle progress -->

    <!-- Required vendors -->
    <script src="../dashBoard/vendor/global/global.min.js"></script>
    <script src="../dashBoard/js/quixnav-init.js"></script>
    <script src="../dashBoard/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="../dashBoard/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../dashBoard/js/plugins-init/datatables.init.js"></script>

    <!-- JavaScript para abrir o modal e exibir o currículo -->
    <script>
        function visualizarCurriculo(caminhoArquivo) {
            const modal = $('#curriculoModal');
            const iframe = document.getElementById('curriculoFrame');
            iframe.src = caminhoArquivo; // Define o caminho do arquivo no iframe
            modal.modal('show'); // Abre o modal
        }
    </script>

</body>

</html>