<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>VOE - Listagem de Vagas </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <!-- Datatable -->
    <link href="../dashBoard/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="../dashBoard/css/style.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/nav-header') %>
            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header') %>
                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar') %>
                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row page-titles mx-0">
                                <div class="col-sm-6 p-md-0">
                                    <div class="welcome-text">
                                        <h4>Bem vindo(a) ao painel</h4>
                                        <p class="mb-0"></p>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">DashBoard</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Vagas</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">

                                        </div>
                                        <div class="card-body">
                                            <!-- Column starts -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header d-block">
                                                        <h4 class="card-title"><strong>Vagas</strong></h4>
                                                        <p class="m-0 subtitle text-dark"><strong>Visualise as vagas e seus respectivos candidatos</strong></p>
                                                            <hr>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="accordion-six" class="accordion accordion-with-icon">
                                                            <% vagas.forEach((vaga, index)=> { %>
                                                                <div class="accordion__item">
                                                                    <div class="accordion__header collapsed"
                                                                        data-toggle="collapse"
                                                                        data-target="#with-icon_collapse<%= index %>">
                                                                        <span style="color: #ffaa16;" class="accordion__header--icon"></span>
                                                                        <span class="accordion__header--text">
                                                                           <strong>Vaga:</strong> <%= vaga.cargo %> - <strong>Empresa:</strong>  <%= vaga.empresa %>
                                                                        </span>
                                                                        <strong><span style="color: #ffaa16;"  class="accordion__header--indicator indicator_bordered"></span></strong>
                                                                            <span ><a style="color: #ffaa16;" class="btn btn-sm btn-transparent"
                                                                                type="submit"
                                                                                href="/admin/vagas-editar/<%=vaga.id%>"
                                                                                class="" data-toggle="tooltip"
                                                                                data-placement="top" title="Editar vaga"><i
                                                                                    class="fa fa-pencil color-muted"></i></a></span>
                                                                    </div>
                                                                    <div id="with-icon_collapse<%= index %>"
                                                                        class="collapse accordion__body"
                                                                        data-parent="#accordion-six">
                                                                        <div class="accordion__body--text">
                                                                            <% if (vaga.candidatos.length === 0) { %>
                                                                                <div class="text-center text-dark">
                                                                                    <p><strong>Sem candidatos até o momento</strong></p>
                                                                                </div>
                                                                                
                                                                            <% } else { %>
                                                                                <table id="table-<%= index %>" class="display text-left" style="min-width: 845px">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>ID</th>
                                                                                            <th>Nome</th>
                                                                                            <th>Email</th>
                                                                                            <th class="text-center">Ações</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody style="color: black;">
                                                                                        <% vaga.candidatos.forEach(candidato => { %>
                                                                                            <tr>
                                                                                                <td><%= candidato.id %></td>
                                                                                                <td><%= candidato.nome %></td>
                                                                                                <td><%= candidato.email %></td>
                                                                                                <td class="text-center">
                                                                                                    <a href="/admin/candidatos-editar/<%= candidato.id %>" class="btn btn-sm "><i
                                                                                                        class="fa fa-user color-danger" style="font-size: 18px;"></i></a>
                                                                                                    <button class="btn" onclick="visualizarCurriculo('<%= candidato.file %>', '<%= candidato.id %>')"><i
                                                                                                        class="fa fa-file-pdf-o color-danger" style="font-size: 18px;"></i></button>
                                                                                                    <% if (candidato.auditado) { %>
                                                                                                        <span id="check-icon-<%= candidato.id %>" class="check-icon">&#x2714;</span>
                                                                                                    <% } else { %>
                                                                                                        <span id="check-icon-<%= candidato.id %>" class="check-icon" style="display: none;">&#x2714;</span>
                                                                                                    <% } %>
                                                                                                </td>
                                                                                            </tr>
                                                                                        <% }) %>
                                                                                    </tbody>
                                                                                </table>
                                                                            <% } %>
                                                                        </div>
                                                                        

                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Column ends -->

                                            <!-- CSS para o sinal de check -->
                                            <style>
                                                .check-icon {
                                                    color: #ffaa16;
                                                    font-size: 1.2em;
                                                    margin-left: 10px;
                                                }

                                                /* CSS para o modal */
                                                .modal-dialog {
                                                    max-width: 70%;
                                                    margin: auto auto;
                                                }

                                                .modal-content {
                                                    height: 80vh;
                                                    /* Ajuste conforme necessário */
                                                }

                                                #curriculoFrame {
                                                    width: 100%;
                                                    height: 100%;
                                                    /* border: none; */
                                                }
                                            </style>

                                            <!-- Modal HTML -->
                                            <div class="modal fade" id="curriculoModal" tabindex="-1" role="dialog"
                                                aria-labelledby="curriculoModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="curriculoModalLabel">Currículo
                                                                do Candidato</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <iframe id="curriculoFrame"
                                                                style="width: 100%; height: 500px;"
                                                                frameborder="0"></iframe>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Fechar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                            <!-- <div class="table-responsive">
                                                <table id="example" class="display text-center"
                                                    style="min-width: 845px">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Titulo</th>
                                                            <th>Status</th>
                                                            <th>Breve descrição</th>
                                                            <th>Empresa</th>
                                                            <th>Salario</th>
                                                            <th>Data</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody style="color: black;">
                                                        <% vagas.forEach(vaga=> { %>
                                                            <div class="vaga">
                                                                <h2>
                                                                    <%= vaga.cargo %>
                                                                </h2>
                                                                <p>
                                                                    <%= vaga.empresa %>
                                                                </p>
                                                                <h3>Candidatos:</h3>
                                                                <ul>
                                                                    <% vaga.candidatos.forEach(candidato=> { %>
                                                                        <li>
                                                                            <%= candidato.nome %> - <%= candidato.email
                                                                                    %>
                                                                        </li>
                                                                        <% }) %>
                                                                            <% if (vaga.candidatos.length===0) { %>
                                                                                <li>Sem candidatos até o momento</li>
                                                                                <% } %>
                                                                </ul>
                                                            </div>
                                                            <% }) %>


                                                    </tbody>

                                                    <tfoot>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Titulo</th>
                                                            <th>Status</th>
                                                            <th>Breve descrição</th>
                                                            <th>Empresa</th>
                                                            <th>Salario</th>
                                                            <th>Data</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Card Title</h4>
                            </div>
                            <div class="card-body">
                                Card Body
                            </div>
                            <div class="card-footer">
                                Card footer
                            </div>
                        </div>
                    </div> -->
                            </div>
                        </div>
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->


                    <!--**********************************
            Footer start
        ***********************************-->
                    <div class="footer">
                        <div class="copyright">
                            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">TecHub</a> 2024</p>
                        </div>
                    </div>
                    <!--**********************************
            Footer end
        ***********************************-->

                    <!--**********************************
           Support ticket button start
        ***********************************-->

                    <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->


    <script src="../dashBoard/vendor/highlightjs/highlight.pack.min.js"></script>
    <!-- Circle progress -->

    <!-- Required vendors -->
    <script src="../dashBoard/vendor/global/global.min.js"></script>
    <script src="../dashBoard/js/quixnav-init.js"></script>
    <script src="../dashBoard/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="../dashBoard/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../dashBoard/js/plugins-init/datatables.init.js"></script>

    <!-- <script>
        function visualizarCurriculo(caminhoArquivo) {
            const modal = $('#curriculoModal');
            const iframe = document.getElementById('curriculoFrame');
            iframe.src = caminhoArquivo; // Define o caminho do arquivo no iframe
            modal.modal('show'); // Abre o modal
        }
    </script> -->
    <script>
        function visualizarCurriculo(caminhoArquivo, candidatoId) {
            // Atualiza o campo auditado no servidor
            fetch(`/admin/candidatos/auditado/${candidatoId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Atualiza o iframe com o currículo
                        const iframe = document.getElementById('curriculoFrame');
                        iframe.src = caminhoArquivo; // Define o caminho do arquivo no iframe

                        // Atualiza o estado do check-icon
                        const checkIcon = document.querySelector(`#check-icon-${candidatoId}`);
                        if (checkIcon) {
                            checkIcon.style.display = 'inline'; // Exibe o check-icon
                        }

                        // Abre o modal
                        $('#curriculoModal').modal('show');
                    } else {
                        console.error('Erro ao atualizar candidato');
                    }
                })
                .catch(error => console.error('Erro:', error));
        }
    </script>
    <script>
        $(document).ready(function() {
            // Inicializa o DataTable para todas as tabelas ao carregar a página
            $('table.display').each(function() {
                if (!$.fn.DataTable.isDataTable(this)) {
                    $(this).DataTable();
                }
            });
    
            // Re-inicializa DataTable quando um acordeão for expandido, caso não tenha sido inicializado
            $('.accordion__item').on('shown.bs.collapse', function() {
                $(this).find('table.display').each(function() {
                    if (!$.fn.DataTable.isDataTable(this)) {
                        $(this).DataTable();
                    }
                });
            });
        });
    </script>
    
    





</body>

</html>